.gallery {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  .gallery h2{
    font-size: 3.5rem;
    color:blueviolet;
  }
  
  .gallery .row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin:2rem 2rem;
    width:100%;
  }
  
  .gallery .row img {
    max-width: 100%;
    width:10rem;
    height:10rem;
    /* height: auto; */
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    gap:40px;
  }
  
  .gallery .row img:hover {
    transform: scale(1.1);
    border: 2px solid black;
  }
  